cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
Makefile
intro
intro.dir/
Release/
src/intro
src/quad
src/hello_world
src/*.bin
src/*.ld
src/*.o
src/*.S
src/*.stripped
src/*.unprocessed
*.exe
*.ilk
*.opensdf
*.pdb
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
