__pycache__
*.glsl.preprocessed
*.exe
*.bin
*.ilk
*.ld
*.o
*.opensdf
*.pdb
*.S
*.sdf
*.sln
*.stripped
*.suo
*.unprocessed
*.pyc
*.vcxproj*

examples/dnload.h
examples/hello_world
examples/intro
examples/quad

