cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
*.pyc
__pycache__
fcmp
Makefile
intro
intro.dir/
Release/
src/hello_world
src/intro
src/quad
src/*.glsl.preprocessed
./*.exe
*.bin
*.ilk
*.ld
*.o
*.opensdf
*.pdb
*.S
*.sdf
*.sln
*.stripped
*.suo
*.unprocessed
*.vcxproj*
arch/dnload
arch/src
arch/pkg
arch/*.pkg.tar.xz
